#
# Copyright (c) 2026 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NRF_AXON
	bool "Enable Axon Neural Processing Unit"
	select NRF_SYS_EVENT

config NRF_AXON_INTERLAYER_BUFFER_SIZE
	int "Axon Interlayer buffer size (in bytes)"
	default 0
	depends on NRF_AXON
	help
	  Specifies the size of the interlayer buffer used during neural net model inferencing.
	  Each compiled model specifies its interlayer buffer requirement, and this number must
	  be as big as the highest needed.

config NRF_AXON_INTERLAYER_BUFFER_MEMREGION_NAME
	string "Memory section/region to place interlayer buffer"
	default ".bss"
	depends on NRF_AXON
	help
	  Use this to specify which memory section/region to placed the interlayer buffer. It is recommended
	  that this be fastest memory available to the Axon NPU peripheral. By default, this is
	  .bss. Users may change from the default if the .bss region is not mapped to local memory
	  (on systems that support it) or if the .bss region is too small to accomodate the interlayer
	  buffer.

config NRF_AXON_PSUM_BUFFER_SIZE
	int "Axon partial sum buffer size (in bytes)"
	default 0
	depends on NRF_AXON
	help
	  Specifies the size of the partial sum buffer used during neural net model inferencing,
	  used on specific operations. The default neural network compiler settings are to not use a partial sum
	  so this should be left at 0. It will need to be populated if the model was compiled to use the
	  partial sum buffer. See the model header file for the size needed.

config NRF_AXON_MODEL_NAME
	string "Name of the model to use in single model examples"
	depends on NRF_AXON
