#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig ML_APP_ML_RUNNER_NEUTON
	bool "Neuton based machine learning model"
	imply FPU

if ML_APP_ML_RUNNER_NEUTON

config ML_APP_ML_RUNNER_NEUTON_ARCHIVE_NAME
	string "Name of archive with Neuton headers and lib"

config ML_APP_ML_RUNNER_NEUTON_THREAD_STACK_SIZE
	int "Size of EI wrapper thread stack"
	default 4096
	help
	  Neuton processes the data in a low-priority thread.
	  The stack size needs to be sufficient for used solution.

config ML_APP_ML_RUNNER_NEUTON_THREAD_PRIORITY
	int "Priority of Neuton thread"
	default 5
	help
	  It is recommended to use preemptive thread priority to make sure
	  that the thread will not block other operations in system for
	  a long time.

endif # ML_APP_ML_RUNNER_NEUTON
