#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig ML_APP_ML_RUNNER_STUB
	bool "Neuton based machine learning model"
	imply FPU
	help
	  Stub runner is used as baseline for power and memory comparison of ML models frameworks.

if ML_APP_ML_RUNNER_STUB

config ML_APP_ML_RUNNER_STUB_FRAME_SIZE
	int "Number of samples in frame"
	default 3

config ML_APP_ML_RUNNER_STUB_WINDOW_SIZE
	int "Number of frames needed to send fake result event"
	default 75

config ML_APP_ML_RUNNER_STUB_THREAD_STACK_SIZE
	int "Size of stub runner thread stack"
	default 4096
	help
	  Stub runner thread stack size. Size set to match other runners' thread for comparison.

config ML_APP_ML_RUNNER_STUB_THREAD_PRIORITY
	int "Priority of stub runner thread"
	default 5

endif # ML_APP_ML_RUNNER_STUB
