# VIDEO driver configuration options

# Copyright (c) 2019 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

menu "App Local Device Drivers"

if VIDEO

rsource "Kconfig.arducam_mega"

endif # VIDEO

endmenu
