/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&axon {
	status = "okay";
};

/delete-node/ &storage_partition;

&cpuapp_rram {
	partitions {
		/* Dedicated updatable model slot; image merged into zephyr.hex at build. */
		axon_model_partition: partition@1f4000 {
			compatible = "zephyr,mapped-partition";
			label = "axon-model";
			reg = <0x1f4000 DT_SIZE_K(4)>;
		};

		storage_partition: partition@1f5000 {
			compatible = "zephyr,mapped-partition";
			label = "storage";
			reg = <0x1f5000 DT_SIZE_K(32)>;
		};
	};
};
