/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	sensor_sim: sensor-sim {
		compatible = "nordic,sensor-sim";
		acc-signal = "wave";
	};

	chosen {
		zephyr,console = &uart20;
		ncs,ei-uart = &uart30;
	};
};

&uart20 {
	status = "okay";
};

&uart30 {
	status = "okay";
};
