#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig NRF_EDGEAI
    bool "Enable Edge AI"
    depends on FPU
    depends on NEWLIB_LIBC
    help
      Enable Edge AI library.

if NRF_EDGEAI

# General
config MAIN_STACK_SIZE
	default 2048
    help
      Set the main stack size for Edge AI applications. It's recommended value, but could be adjusted for specific user solution. 

endif # NRF_EDGEAI