#
# Copyright (c) 2026 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

config DATA_COLLECTION_MODE
	bool "Enble Data Collection Mode (no inference run)"

